{{#if enabled}}
<div class="add-restaurant-panel">
  <div class="add-restaurant-menu">
    <ul class="nav navbar-nav nav-add-restaurant">
        <li class="nav-item"><a {{action 'openBasic'}}  class="restaurant-menu-item {{if enableBasic "active-item"}}" href="#">Basic details</a></li>
        <li class="nav-item"><a {{action 'openMenu'}}  class="restaurant-menu-item {{if enableMenu "active-item"}}" href="#">Menu</a></li>
        <li class="nav-item "><a {{action 'openTables'}} class="restaurant-menu-item {{if enableTables "active-item"}}" href="#">Tables</a></li>
    </ul>
  </div>
  {{#restaurant-basic enabled=enableBasic restaurantName=restaurantName restaurantDesc=restaurantDesc restaurantCategory=restaurantCategory restaurantLocation=restaurantLocation errorName=errorName errorDesc=errorDesc errorCategory=errorCategory}}{{/restaurant-basic}}
  {{#restaurant-menu enabled=enableMenu breakfast=breakfast lunch=lunch dinner=dinner}}{{/restaurant-menu}}
  {{#restaurant-tables enabled=enableTables tables=tables}}{{/restaurant-tables}}

  <div class="row-buttons">
  <div class="buttons-restaurant">
    <button {{action 'addRestaurant'}} class="button-add create-restaurant-btn">Add restaurant</button>
    <button {{action 'cancel'}} class="button-add cancel-restaurant-btn">Cancel</button>
  </div>
</div>

</div>

{{/if}}
