{{#if enabled}}

<div class="restaurant-head">
  <div class="input-group search-input-group">
      <input type="text" class="form-control"  placeholder="Search restaurants" >
          <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
          </span>
  </div>
  <button {{action 'openAddRestaurant'}} class="button-add add-restaurant">Add restaurant</button>
</div>

<table class="table table-hover table-bordered table-restaurants">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Location</th>
        <th class="options-col">Options</th>
      </tr>
    </thead>
    <tbody>

      {{#each model as |restaurant|}}
      <tr>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.category}}</td>
        <td>Gloverton</td>
        <td>
          <a href="#">
          <span class="glyphicon glyphicon-pencil admin-glyphicon"></span>
          </a>
          <a {{action 'toggleModal' restaurant.id restaurant.name}} href="#">
          <span class="glyphicon glyphicon-trash admin-glyphicon"></span>
          </a>
        </td>
      </tr>
      {{#if deleteEnabled}}
      <div class="modal-fog modal-fog-admin">
        <div class="modal-frame modal-frame-admin">
          <div class="modal-title modal-title-admin">
            Delete restaurant
          </div>
          <div class="modal-body modal-body-admin">
            Are you sure you want to delete restaurant {{deleteName}}?<br><br>
            <button {{action 'deleteRestaurant'}} class="admin-confirm-btn ">Delete restaurant</button>
            <button {{action 'toggleModal'}} class="admin-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}

    </tbody>
  </table>
{{/if}}
