{{#if enabled}}
  <div class="row-add-restaurant">
    <div class="add-restaurant-menu">
    <ul class="nav navbar-nav nav-add-restaurant">
        <li class="nav-item"><a {{action 'openBreakfast'}}  class="restaurant-menu-item {{if enableBreakfast "active-item"}}" href="#">Breakfast</a></li>
        <li class="nav-item"><a {{action 'openLunch'}}  class="restaurant-menu-item {{if enableLunch "active-item"}}" href="#">Lunch</a></li>
        <li class="nav-item "><a {{action 'openDinner'}} class="restaurant-menu-item {{if enableDinner "active-item"}}" href="#">Dinner</a></li>
        <li class="nav-item "><a {{action 'addItem'}} class="restaurant-menu-item add-item" href="#">Add item</a></li>
    </ul>
  </div>

  {{#if enableBreakfast}}
    {{#each newBreakfast as |item|}}
    <div class="menu-input-div">
      <div class="input-row">

        {{input value=item.name class="menu-input" onfocus="this.placeholder = ''" placeholder="Name" type="text"}}
        {{input value=item.price class="price-input" onfocus="this.placeholder=''" placeholder="$ Price" type="text"}}
          <a {{action 'deleteItem' item}}><i class="glyphicon glyphicon-trash delete-item"></i></a>
      </div>
      {{input value=item.description class="menu-input" onfocus="this.placeholder = ''" placeholder="Description" type="text"}}
    </div>
    {{/each}}
    {{/if}}

    {{#if enableLunch}}
      {{#each lunch as |item index|}}
      <div class="menu-input-div">
        <div class="input-row">
          {{input value=item.name class="menu-input" onfocus="this.placeholder = ''" placeholder="Name" type="text"}}
          {{input value=item.price class="price-input" onfocus="this.placeholder=''" placeholder="$ Price" type="text"}}
            <a {{action 'deleteItem' item}}><i class="glyphicon glyphicon-trash delete-item"></i></a>
        </div>
        {{input value=item.description class="menu-input" onfocus="this.placeholder = ''" placeholder="Description" type="text"}}
      </div>
      {{/each}}
      {{/if}}

      {{#if enableDinner}}
        {{#each dinner as |item index|}}
        <div class="menu-input-div">
          <div class="input-row">
            {{input value=item.name class="menu-input" onfocus="this.placeholder = ''" placeholder="Name" type="text"}}
            {{input value=item.price class="price-input" onfocus="this.placeholder=''" placeholder="$ Price" type="text"}}
              <a {{action 'deleteItem' item}}><i class="glyphicon glyphicon-trash delete-item"></i></a>
          </div>
          {{input value=item.description class="menu-input" onfocus="this.placeholder = ''" placeholder="Description" type="text"}}
        </div>
        {{/each}}
        {{/if}}
  </div>
{{/if}}
