<div class="container-default">


<div class="restaurants-wrap">
  <div class="search-restaurants">
      <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          {{input type="text" value=name class="form-control search-input rest-search-input" placeholder="Search for a restaurant..." }}

      </div>
      <button {{action 'seach'}} class="btn-outline btn-restaurants">Search</button>
  </div>

    <div class="row restaurant-row row-list">
      {{#each model.restaurants as |restaurant|}}
        <div class="col-md-3 col-sm-3 col-xs-8 restaurant-col">
            <img class="restaurant-img" src="/assets/images/restaurant.jpg">
            {{#link-to "restaurant" restaurant.id}}<p class="restaurant-name">{{restaurant.name}}</p>{{/link-to}}
            {{star-rating rating=restaurant.mark baseColor="lightgray" fillColor="#Fe4a49" readOnly=true}}
            <hr class="thin">
            <p class="restaurant-category">{{restaurant.category}}</p>
            <button class="btn-outline btn-reserve">Reserve now</button>
        </div>
      {{/each}}
    </div>
    {{page-numbers class="pagination-bar" page=pageNumber totalPages=totalPages}}
</div>

</div>
